<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">-->
<!--<head>-->
    <!--<title>Home</title>-->
<!--</head>-->
<!--<body>-->

<!--<div layout:fragment="content">-->
    <!--<div class="container main-content">-->
        <!--<div class="row">-->
            <!--<div class="col-7">-->
                <!--<h3>Users</h3>-->
            <!--</div>-->
            <!--<div class="col">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="navbar">-->
            <!--&lt;!&ndash;<form class="form-horizontal" role="form" method="GET" th:action="@{/readAll}" th:object="${user}">Read Users&ndash;&gt;-->
        <!--<table id="table" class="table table-striped table-sm">-->
            <!--<thead>-->
            <!--<th scope="col">#</th>-->
            <!--<th scope="col">First Name</th>-->
            <!--<th scope="col">Last Name</th>-->
            <!--<th scope="col">Email Address</th>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr th:each="user : ${users}">-->
                <!--&lt;!&ndash;<th scope="row"><a th:href="@{'/users/' + ${user.id}}" th:text="${user.id}"></a></th>&ndash;&gt;-->
                <!--<td th:text="${user.firstname}"></td>-->
                <!--<td th:text="${user.lastname}"></td>-->
                <!--<td th:text="${user.email}"></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->